<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h2 class="font-semibold text-xl text-gray-800 leading-tight">
      商品一覧
    </h2>
    <%# 検索ウィンドウ %>
    <form amethod="get" action="#">
      <div class="lg:flex lg:justify-around">
        <div class="lg flex items-center">

        </div>
      </div>
    </form>
  </div>
</header>

<main>
  <div class="py-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
        <div class="p-6 bg-white border-b border-gray-200">
          <div class="flex flex-wrap">

            <%# 商品リスト %>
            <div class="w-full lg:w-1/4 p-2 md:p-4">
              <%= link_to "product_path" do %>
                <div class="border rounded-md p-2 md:p-4">
                  <div>
                    <%= image_tag "sample5.jpg" %>
                  </div>
                  <div class="mt-4">
                    <h3 class="text-gray-500 text-xs tracking-widest title-font mb-1">靴</h3>
                    <h2 class="text-gray-900 title-font text-lg font-medium">山田 太郎</h2>
                    <p class="mt-1">5,000<span class="text-sm text-gray-700">円(税込)</span></p>
                  </div>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
