<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h2 class="font-semibold text-xl text-gray-800 leading-tight">
      カート
    </h2>
  </div>
</header>

<%# カートの中身 %>
<main>
  <div class="py-12">
    <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
      <div class="bg-white overflow-hidden shadow-sm sm:rounded-lg">
        <div class="p-6 bg-white border-b border-gray-200">

          <%# カートに商品がない場合 %>
          カートに商品が入っていません。

          <%# カートに追加した商品 %>
          <div class="md:flex md:items-center mb-2">
            <div class="md:w-3/12">
              <%= image_tag "sample5.jpg" %>
            </div>
            <div class="md:w-4/12 md:ml-2">
              山田 太郎
            </div>
            <div class="md:w-3/12 flex justify-around">
              <div>1個</div>
              <div>
                5,000<span class="text-sm text-gray-700">円(税込)</span>
              </div>
            </div>
            <div class="md:w-2/12">
              <span class="cursor-pointer text-lg"><%= icon("regular", "trash-can") %></span>
            </div>
          </div>

          <%# 金額の小計 %>
          <div class="my-2">
            小計: 5,000<span class="text-sm text-gray-700">円(税込)</span>
          </div>

          <%# 「購入する」ボタン %>
          <div>
            <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">購入する</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</main>
